h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 90px;
}

.a {
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
